

.cw-list-car:hover{
	background-color:#eeeeee;
}
.btn btn-primary{
	
}
font{
	
	font-family:arial;
	font-size:24px;
}

body {
	font-family: 'open sans', helvetica, arial, sans-serif;
	background-color: #ededed;
	m-argin-left:500px;
}

h2, h3, h4, h5 {
	font-family: open;
	font-weight: 400;
	color: #7a7a7a;
}
h1{
	font-family:open;
	font-size:102px;
	m-argin-right:1000px;
	color: #7a7a7a;
	}
.cw-intro {
    background-color: #EAEAEA;
    padding-bottom: 11px;
    w-idth: 1590px;
}
p{
	
	font-size:40px;
	font-family:  open sans, Georgia,'Dancing Script', serif;
	m-argin-right:1000px;
	color: #7a7a7a;
	line-height: 30px;
}
.img-rounded {
    border-radius: 34px;
}
.input-group {
    border-collapse: separate;
    margin-top: 41px;
    margin-left: -480px;
}
.element {
    margin-left:-1668px;
    margin-top:-770px;
}
.btn-default {
    text-shadow: 0 1px 0 #fff;
    width: 184px;
}
.btn-primary {
	color:blue;
	text-shadow:white;
	background-color:white;
}
select,label,element{
	position:;
    left: 100px;
	clear:both;
	width:100px;
	text-align:center;
	line-height:31px;
	font-size:11px;
	font-weight:bold;
	padding: 3px;
	}
	
	select{
		
		background-color:ffffff;
	}
	form{
		margin-left:-15px;
	}
	checkbox {
		margin-left:100px;
	}
	input[type="checkbox"], input[type="radio"] {
    margin: 3px 0 0;
    margin-top: 1px\9;
    line-height: normal;
    margin-left: 29px;
}



	

/*.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }*/
/*
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: white;
}*/


/*

h1 {
	color:red;
	font-family:times;
}

h1 {
	background-color:blue;
	font-family:arial;
}

h1 {
	color:yellow;
	background-color:gray;
}

.myheadingclass {
	color:blue;
}

.mypaddingclass {
	padding:200px;
}
*/